* {
  margin: 0;
  padding: 0;
}

#MainDiv{
	background-image: radial-gradient(
										rgb(33, 33, 33),
										rgb(35, 35, 35),
										rgb(28, 28, 28),
										rgb(15, 15, 15),
										rgb(10,10,10)
									);
	height: auto;
	padding-bottom: 50vh;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}

#AuthRoot {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 125vh;
  width: 100%;
}
